@use "~src/assets/css/variables" as vars;
@import "~bootstrap/dist/css/bootstrap.css";

@mixin mat-card-default() {
  height: 100%;
  margin: 0 !important;
  box-shadow: vars.$shadow-default;
  transition: vars.$transition-default;

  .mat-card-title {
    --bs-text-opacity: 1;
    color: vars.$color-gray-600;
    margin-bottom: 3rem;
    transition: vars.$transition-default;
  }

  .mat-card-content .mat-icon {
    transition: transform 280ms vars.$transition-animation,
    box-shadow 280ms vars.$transition-animation !important;
  }

  &.hover:hover {
    .mat-card-content .mat-icon {
      @include scale-on-hover(1.2);
    }

    background-color: vars.$mat-card-background-color-hover;
  }

  &.active-link {
    background-color: vars.$primary !important;

    .mat-card-title {
      color: vars.$color-gray-200 !important;
    }

    mat-icon.mat-primary {
      color: vars.$warn;
    }
  }

  @media (max-width: 600px) {
    padding: 2rem .5rem !important;
  }
}

@mixin grid($col, $row, $colWidth: 1fr, $rowWidth: 1fr) {
  width: 100%;
  display: grid;
  grid-template-columns: repeat($col, $colWidth);
  grid-template-rows: repeat($row, $rowWidth);
  grid-auto-rows: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  > * {
    height: 100%;
  }

  .mat-card {
    padding: 2rem;
    box-shadow: vars.$shadow-lite;

    .card-icon {
      height: auto;
      width: auto;
      font-size: 5rem
    }

    .img {
      height: calc(100vh / 4);
    }
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

@mixin scale-on-hover($ratio) {
  transition: all 280ms vars.$transition-animation;
  &:hover {
    transform: scale($ratio);
  }
}

@mixin animation-scale() {
  animation: scaleAnimation 1s linear infinite;
}

@mixin mat-icon-size($size) {
  font-size: $size;
  width: $size;
  height: $size;
}
