<div [formGroup]="formGroup" class="p-0 m-0">

  <mat-form-field>
    <mat-label>{{label}}</mat-label>
    <mat-select (selectionChange)="onSelect($event.value)" (blur)="markAsTouched()" formControlName="select">
      <mat-option value="">Select...</mat-option>
      <mat-option *ngFor="let option of options" [value]="option.id">
        {{option.description}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="!formGroup.valid">{{label}} is required</mat-error>
  </mat-form-field>

  <div>{{formGroup.valid | json}}</div>
  <div>{{formGroup.get('select')?.errors | json}}</div>

</div>
