<div class="container mt-5">

  <mat-card>

    <mat-card-header>
      <mat-card-title>Typeahead</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div [formGroup]="form" class="col-12">
        <app-typeahead formControlName="name"></app-typeahead>
      </div>
      <div class="col-12">
        <label class="text-muted">Control Value: </label>{{getControlValue()}}
      </div>
    </mat-card-content>

    <mat-card-footer>
      <button mat-button [disabled]="!form.get('name')?.errors" color="warn">
        Wrong Answer
      </button>
      <mat-divider></mat-divider>
      <button mat-button [disabled]="!!form.get('name')?.errors" color="primary">
        Right Answer
      </button>
    </mat-card-footer>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </mat-card-actions>

  </mat-card>

</div>
