/* You can add global styles to this file, and also import other style files */
@use "assets/css/variables" as vars;
@use "assets/css/mixins" as mixins;
@import "~bootstrap/dist/css/bootstrap.css";

html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: vars.$app-font-family;
  font-size: 1rem;
}

.grid-features {
  @include mixins.grid(3, 'auto-fill');
}

.grid-lifecycle {
  @include mixins.grid(2, 'auto-fill');
}

.grid-subscriptions {
  @include mixins.grid(2, 'auto-fill', 300px);
  justify-content: center !important;
}

.grid-directives {
  @include mixins.grid(3, 'auto-fill');
  justify-content: center !important;
}

.grid-routes {
  @include mixins.grid(4, 'auto-fill');
  justify-content: center !important;
}

.grid-services {
  @include mixins.grid(2, 'auto-fill');
}

.grid-directives-components {
  @include mixins.grid(3, 'auto-fill');
  justify-content: center !important;

  > * {
    padding: 1rem;
    @extend .shadow;
  }
}

.grid-directives-components-2 {
  @include mixins.grid(2, 'auto-fill');
  justify-content: center !important;

  > * {
    padding: 1rem;
    @extend .shadow;
  }
}

.container-fluid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  align-content: flex-start;
  min-height: 100%;
  min-width: 100%;
  padding: 1rem;

  > * {
    height: 100%;
    width: 100%;
  }

  &.main-container, &.app-container {
    padding: 0 !important;
    background-color: #deeaff4f;
  }

  @media (max-width: 600px) {
    padding: .5rem;
  }
}

.app-container {
  height: vars.$app-content-height;
}

.brand {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: vars.$app-brand-height;

  .brand-img {
    text-align: center;
    cursor: pointer;

    img {
      height: 5rem;
      width: 8rem;
      filter: invert(20%) sepia(25%) saturate(25555%) hue-rotate(187deg) brightness(100%) contrast(50%);
    }
  }

  .brand-name {
    font-size: 2rem;
    font-weight: 600;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
  }

  @media (max-width: 600px) {
    height: #{vars.$app-brand-height * 3};

    .brand-img, .brand-name {
      width: 100%;
      margin: 1rem;
      line-height: 2rem;
    }
  }
}

.mat-card {
  @include mixins.mat-card-default();
}

.block {
  position: relative;
  margin: .5rem 0;
  padding: 1rem;
  background-color: vars.$background-light-grey;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: var(--bs-pink);
    transform-origin: 0 0;
  }

  &:hover {
    background-color: darken(vars.$background-light-grey, 5%);
  }

  @media (max-width: 600px) {
    padding: .5rem;
  }
}

.paragraph {
  font-family: vars.$app-font-family;
  font-size: 1rem;
  background: #fafbfcd1;
  padding: 5rem;
  color: #6c757d !important;

  @media (max-width: 600px) {
    padding: .5rem;
  }
}

.code {
  background-color: #d3d3d34a;
  font-family: monospace !important;
  display: flex;
  align-items: center;
  margin: 0 0 1rem 0 !important;
  padding: 5px;
}

code {
  font-size: 0.875em !important;
  color: #d63384 !important;
  word-wrap: break-word !important;
}

.active-link {
  background-color: #3f51b5 !important;
  color: #fff !important;

  mat-icon.mat-primary {
    color: #d29527;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.shadow {
  box-shadow: vars.$shadow-default;
}

.scale {
  transition: vars.$transition-default;

  &.up {
    transform: scale(2);
  }
}

pre {
  margin: 0;
}
